
  <div class="parent clearfix" style="margin-left:5%">
      <div class="login">
          <div class="container">
            <div class="login-form">
              <form action="">
                 
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Contact Number">
             <div style="display: flex;
             justify-content: space-between;">   <input type="text" placeholder="User Name">   <button class="btn btn-primary global_btn" style="margin-top:10px; margin-bottom:0px;border-left: 0px solid #7885cb;border-bottom: 5px solid #7885cb;" type="submit">Check</button></div>
                <div class="remember-form">
                </div>
                <div style="margin-top:2%;display: flex;
                justify-content: flex-end" class="save_area">
                  <button class="btn btn-primary global_btn" type="submit">Update</button>
                </div>
              </form>
            </div>

          </div>
          </div>


  </div>
