<ul class="breadcrumb" >
    <li><a routerLink="/profile/profile_landingpage" routerLinkActive="active">  Profile</a></li>
    <li><a href="#">User Profile</a></li>
  </ul>
  <div class="parent clearfix" style="margin-left:5%">
      <div class="login">
          <div class="container">
            <div class="login-form">
              <form action="">
                  <input type="text" placeholder="User Name">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
                <input type="email" placeholder="E-mail Address">
                <div class="remember-form">
                </div>
                <div style="margin-top:2%" class="save_area">
                    <button type="submit">Cancel</button>
                  <button type="submit">Save</button>
                </div>
              </form>
            </div>
        
          </div>
          </div>


  </div>