
<nav  *ngIf="transparent['boolean'];else elseBlock" class="nav_size navbar navbar-expand-md navbar-dark bg-dark" style="z-index:5;position:sticky;top:0px;height: 20%; box-shadow: 1px 0 6px #7885cb;">
  <a routerLink="/feed/feedroll" routerLinkActive="active"> <button class=" btn_small_v1 button button--winona button--border-thin button--text-thick button--inverted" style="    letter-spacing: 3px;" data-text="Travellerspedia"><span>Travellerspedia</span></button>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-md-0" style="width:79%;margin-left:6%" *ngIf="element['boolean']">
      <div class="col-lg-9 col-md-9">
        <div class="input-group">
          <input #search_chunk type="text" (input)="search_everything(search_chunk)" placeholder="Search"  class="form-control search-field">
          <div  *ngIf="search_result"  style="    max-height: 170px;
          overflow-y: auto;position: absolute;
          top: 37px;
          display:block;
          border: 1px solid #cccccc;
          width: 88%;
    left: 2px;
          background-color: #fff;"> 
          <div class="search_row"  style="padding: 2px;background-color: #f9f9f9;cursor:pointer">
          <span style="display:flex">
            <img src="/assets/img/user.png" height="25"> <div style="margin-left: 1%;font-size: small;    
            letter-spacing: 1px;"> Ashok kumar S</div>
</span>
          </div>
          <div class="search_row"  style="padding: 2px;background-color: #f9f9f9;cursor:pointer">
            <span style="display:flex">
              <img src="/assets/img/user.png" height="25"> <div style="margin-left: 1%;font-size: small;    
              letter-spacing: 1px;"> Ashok kumar S</div>
  </span>
            </div>
            <div  style="padding: 2px;cursor:pointer;    display: flex;
            justify-content: flex-end;
            font-size: smaller;">
            <div class="wobble" style="text-decoration: underline;color: #7986cb;    margin-right: 2%;">more</div>
            </div>
        </div>

          <span class="input-group-btn">
          <button class="btn search-btn" type="button" (click)="search_everything(search_chunk)"><i class="fa fa-search"></i></button>
          </span>
        </div>    <!-- /input-group -->

      </div>

  </form>
    <ul class="navbar-nav mr-auto">

    </ul>
    <div class="bg-3" *ngIf="element['boolean']!=true">
      <a routerLink="/login" routerLinkActive="active">  <button class=" btn_small_v2 button button--wayra button--border-medium button--text-upper button--size-s button--text-thick button--inverted">Login</button></a>
      <a routerLink="/registration" routerLinkActive="active">  <button  class=" btn_small_v2 button button--wayra button--border-medium button--text-upper button--size-s button--text-thick button--inverted">Create an account</button></a>
</div>

<div *ngIf="element['boolean']" class="notification notify show-count bg-3 " style="cursor:pointer" data-count="1" >
</div>
  <div class="bg-3" *ngIf="element['boolean']" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    padding: 0.1em;">

    <li class="nav-item dropdown">

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item settings_black" routerLink="/profile/profile_landingpage">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item settings_black" routerLink="/" href="#">Logout</a>
        </div>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/assets/img/user.png" width="30" height="30" class="rounded-circle">
        </a>
      </li>

</div>
  </div>



</nav>
<ng-template #elseBlock>
<nav class="nav_size navbar navbar-expand-md navbar-dark bg-dark" style="z-index:5;box-shadow: 1px 0 6px #7885cb40;background-color: #343a4040!important;position:sticky;top:0px">

  <a routerLink="/feed/feedroll" routerLinkActive="active"> <button class="btn_small_v1 button button--winona button--border-thin button--text-thick button--inverted" style="    letter-spacing: 3px;" data-text="Travellerspedia"><span>Travellerspedia</span></button>
</a>
  <button class="  navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="bg-3" *ngIf="element['boolean']!=true">
      <a routerLink="/login" routerLinkActive="active">  <button class="btn_small_v2 button button--wayra button--border-medium button--text-upper button--size-s button--text-thick button--inverted">Login</button></a>
      <a routerLink="/registration" routerLinkActive="active">  <button  class="btn_small_v2 button button--wayra button--border-medium button--text-upper button--size-s button--text-thick button--inverted">Create an account</button></a>

    </div>
  <form class="form-inline my-2 my-md-0" style="width:79%" *ngIf="element['boolean']">
    <input class="form-control mr-md-2 "  style="width:60%;    height: calc(1em + .75rem + 2px);
    " type="search" placeholder="# Search" aria-label="Search">
  </form>
<div *ngIf="element['boolean']" class="notification notify show-count bg-3 " style="cursor:pointer" data-count="1" >

</div>
  <div class="bg-3" *ngIf="element['boolean']" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    padding: 0.1em;">
      <li class="nav-item dropdown">

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item settings_black" routerLink="/profile/profile_landingpage">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item settings_black" routerLink="/" href="#">Logout</a>
        </div>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="30" height="30" class="rounded-circle">
        </a>
      </li>

</div>
  </div>
</nav>

</ng-template>
