<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="button button--winona button--border-thin button--text-thick button--inverted" data-text="Travellerspedia"><span>Travellerspedia</span></button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <div class="bg-3">
  
      <a routerLink="/login" routerLinkActive="active">  <button (click)="login()" class="button button--wayra button--border-medium button--text-upper button--size-s button--text-thick button--inverted">Login</button></a>
      <a routerLink="/registration" routerLinkActive="active">  <button (click)="register()" class="button button--wayra button--border-medium button--text-upper button--size-s button--text-thick button--inverted">Create an account</button></a>
</div>
  </div>
</nav>
