
  <div class="parent clearfix">
    <div class="bg-illustration">
      <div class="burger-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div>
    
    <div class="login">
      <div class="container">
        <h2 style="letter-spacing:3px">Login to access to<br />your account</h2>
    
        <div class="login-form">
          <form name="login" #event="ngForm" (ngSubmit)="onSubmit(event)">
            <input name="email" #name="ngModel" [(ngModel)]="register_user.login_model.email"  [ngModelOptions]="{standalone: false}" type="email" placeholder="E-mail Address">
            <input name="password" #name="ngModel" [(ngModel)]="register_user.login_model.password"  [ngModelOptions]="{standalone: false}" type="password" placeholder="Password">
            
            <div class="remember-form">
              <input type="checkbox" style="    margin-top: 4%;">
              <span>Remember me</span>
            </div>
            <div class="forget-pass">
              <a data-toggle="modal" data-target="#myModal" style="cursor:pointer">Forgot Password ?</a>
            </div>
         
            <button type="submit">LOG-IN</button>

          </form>
          
        </div>
    
      </div>
      </div>
  </div>
  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">  


   <div class="modal-body">
         <div class="circCont">
    <button data-dismiss="modal" aria-label="Close" class="close circle" data-animation="xMarks" data-remove="3000"></button>
  </div> 
</div>
      <div class="modal-body">

              <div class="forget_area">
              
               <div class="login reset_pwd" style="width:100%  !important;    overflow-Y: unset !important;">
               <div class="container" >
        <div class="login-form" *ngIf="_show_top==true;else elseBlock" style="margin-top: 25%;">
        <h4 style="letter-spacing:3px">Forget Your Password ?</h4>
        <p style="font-size:x-small;letter-spacing: 2px;" >Please confirm your email address below and <br> we will send you a verification code</p>
        <form action="" >
          <input type="email" placeholder="Email-Address" style="width:66%">
            <div  style="display:flex;justify-content:center">
            <button class="pull-right" (click)="reset_email()" type="submit">Reset Password</button>
          </div>
          </form>
 
        </div>
<ng-template #elseBlock>
        <div class="login-form" style="    margin-top: 20%;">
                       <h4 style="letter-spacing:3px">Change Password</h4>
             <form  >
            <input type="text" placeholder="Verification code" style="width:66%;height: 40px;">
             <input type="text" placeholder="New Password" style="width:66%;height: 40px;">
              <input type="text" placeholder="Confirm Password" style="width:66%;height: 40px;">
            <div  style="display:flex;justify-content:center">
            <button class="pull-right" type="submit">Change Password</button>
          </div>
          </form> 
 
        </div>
</ng-template>
 
        </div>
        </div>
        </div>
        <div class="forget_passcode" >
        </div>

      </div>
    </div>

  </div>
</div>