
  <div class="parent clearfix" style="margin-left:5%">
      <div class="login">
          <div class="container">
            <div class="login-form">
              <form action="">
                  <input type="password" placeholder="Old Password">
                <input type="password" placeholder="New Password">
                <input type="password" placeholder="Confirm pasword">
                <div class="remember-form">
                </div>
                <div style="margin-top:2%" class="save_area">
                    <button type="submit">Cancel</button>
                  <button type="submit">Save</button>
                </div>
              </form>
            </div>
        
          </div>
          </div>


  </div>