<div class="wrapper">
    <div class="chat-box">
        <div class="chat-head">
            <img width="30" height="30" style="padding: 2%;" src="/assets/img/message_chat.png"/>  
            <h4>Message</h4>
            <i class="fa fa-minus chat-box_minus animated bounce"></i> </div>
        <div class="chat-body">
            <div class="msg-insert">
</div>
            <div class="chat-text">
                <textarea placeholder="Search"></textarea>
            </div>
        </div>
    </div>
</div>
