.chat-box{
	position: fixed;
	right: 20px;
	bottom: 0px;
	background: #f1f0ef;
	width: 300px;
    box-shadow: 1px 0 10px #AAA;
}
.animated {
	animation-duration: 0.7s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
  }
  
  @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-12px);}
	60% {transform: translateY(-6px);}
  }
  .bounce:hover {
	animation-name: bounce;
  }
.chat-box_minus
{
	float: right;
            color: #7986cc;
            padding: 3%;
			font-size: 16px;
			cursor:pointer;
}
.chat-head{
	width: inherit;
	height: 30px;
	background: #2c3e50;
}
.chat-head h4{
    color: #f1f0ef;
    font-size: 15px;
    padding-top: 4px !important;
	display: inline-block;
}
.chat-head .close{
	cursor: pointer;
	float: right;
    width: 20px;
    color:white;
    margin: 10px;
    margin-top: 5px;
}
.chat-body{
	height: 355px;
	width: inherit;
	overflow: auto;
	margin-bottom: 45px;
}
.chat-text{
	position: fixed;
	bottom: 0px;
	width: inherit;
}
.chat-text textarea{
	width: inherit;
	height: inherit; 
	box-sizing: border-box;
	border: 1px solid #bdc3c7;
	resize: none;
}
.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
	border-color: #bdc3c7;
}

