<div class="wrapper">
    <div class="chat-box" style="    background: linear-gradient(to right, #fcfcff45, #7986cb3b);">
        <div class="chat-head">
            <img width="25" height="25" style="padding: 2%;" src="/assets/img/message_chat.png"/>  
            <h4>Message</h4>
            <i class="fa fa-minus chat-box_minus animated bounce " (click)="toogle_ct_list()"></i> </div>
        <div class="chat-body cs_line" [ngClass]="chat_box_list_tgl ? '' : 'chat_box_tgl_h'">
            <div class="list">
                <li class="clearfix chat_line" style="display:flex;padding: 2%;margin: 1%;
                    background-color: #b1b6df6b;" (click)="one_chatbox()">
                  <img width="30" height="30" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
                  <div class="about" style="margin-left: 6%;">
                    <div class="name">Vincent Porter</div>
                    <div class="status">
                      <i class="fa fa-circle online"></i> online
                    </div>
                  </div>
                </li>
                
                <li class="clearfix chat_line" (click)="one_chatbox()" style="display:flex;padding: 2%;margin: 1%;    background-color: #b1b6df6b;">
                  <img width="30" height="30" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />
                  <div class="about" style="margin-left: 6%;">
                    <div class="name">Aiden Chavez</div>
                    <div class="status">
                      <i class="fa fa-circle offline"></i> left 7 mins ago
                    </div>
                  </div>
                </li>
                
        
            </div>
            <div class="chat-text">
             
                <div style="margin: 2%; display: flex;height: 41px;">
                   <textarea placeholder="Search" class="form-control ng-pristine ng-valid ng-touched chat_txt" style="
                   width: 100%;
                   border-radius: 20px;"></textarea>
               
            </div>
            

              </div>
        </div>
    </div>
</div>
<div class="wrapper" *ngIf="private_chat" >
  <div class="chat-box" style=" right: 20%;   z-index: 5;">
      <div class="chat-head">
          <img width="25" height="25" style="padding: 2%;" src="/assets/img/message_chat.png"/>  
          <h4>Socket Chat</h4>
          <i  class="fa fa-times chat-box_minus" (click)="one_chatbox()"  aria-hidden="true"></i>
          <i *ngIf="maximize" class="fa fa-minus chat-box_minus animated bounce" (click)="toogle_ct_bx()"></i>
          <i *ngIf="minimize" class="fa fa-window-maximize chat-box_minus  " (click)="toogle_ct_bx()"></i>
         
        </div>
      <div class="chat-body cs_line" *ngIf="chat_box_tgl">
          <div class="list">
            <div class="chat">

              
              <div class="chat-history">
                <ul style="padding: 8px;">
                  <li *ngFor="let item of messageList;" >
                    <div *ngIf="item.type=='sender' else receiver"><div class="message-data align-right">
                      <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
                      <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
                      
                    </div>
                    <div class="message other-message float-right">
                      {{item.message}}
                    </div>
                  </div>
                  <ng-template #receiver>
                  <div>
                    <div class="message-data">
                      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                      <span class="message-data-time">10:12 AM, Today</span>
                    </div>
                    <div class="message my-message">
                      {{item.message}}
                    </div>
                  </div>
                </ng-template>
                  </li>
                
                  <li style="display:none">
                    <div class="message-data">
                      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                      <span class="message-data-time">10:31 AM, Today</span>
                    </div>
                    <i class="fa fa-circle online"></i>
                    <i class="fa fa-circle online" style="color: #AED2A6"></i>
                    <i class="fa fa-circle online" style="color:#DAE9DA"></i>
                  </li>
                  
                </ul>

                
              </div>
              
      
          </div>
          <div class="chat-text" style="width:100%">
            <div style="    display: flex;
            justify-content: flex-start;">
            <div  *ngIf="is_typing" class="typing-indicator">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
              <div class="chat_cont">
                 <input (keyup)="onKeyPress($event)" [(ngModel)]="message_area" placeholder="Type Here .. " class="form-control ng-pristine ng-valid ng-touched chat_txt txting_area"  (keyup.enter)="sendMessage()" type="text"/>
             
                 <div style="display: flex;"> </div>
          </div>

         
            </div>
      </div>
  </div>
</div>
