.chat-box{
	position: fixed;
	right: 20px;
	bottom: 0px;
	background: #f1f0ef;
	width: 235px;
    box-shadow: 1px 0 10px #AAA;
}
.animated {
	animation-duration: 0.7s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
  }
  .chart_txt
  {
	border-radius: 13px;
  }
  @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-12px);}
	60% {transform: translateY(-6px);}
  }
  .bounce:hover {
	animation-name: bounce;
  }
.chat-box_minus
{
	float: right;
            color: #7986cc;
            padding: 3%;
			font-size: 11px;
			cursor:pointer;
}
.name{
	font-size: 0.8rem;
}
li.clearfix.chat_line:hover {
	box-shadow: 1px 0 10px #7986cb36;
	cursor:pointer;
}
.status{
	font-size: 0.8rem;
}
.chat_box_tgl_h
{
	display:none;
}
.chat-head{
	width: inherit;
	height: 30px;
	padding-top: 4px;
	background: #2c3e50;
}
.send_btn
{
    color: #7986cb;
    background-color: #f1f0ef;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 15px;
    border-radius: 22px;
}
.chat-head h4{
    color: #f1f0ef;
    font-size: 13px;
    padding-top: 4px !important;
	display: inline-block;
}
.chat-head .close{
	cursor: pointer;
	float: right;
    width: 20px;
    color:white;
    margin: 10px;
    margin-top: 5px;
}
.chat-body{
	height: 355px;
	width: inherit;
	overflow: auto;
	margin-bottom: 45px;
}
.chat_txt:focus
{
box-shadow:none;
}
.chat_cont
{
  margin: 2%;
  padding-left: 6px;
  display: flex;
  height: 41px;
}
.txting_area
{

  width: 100%;
  border-radius: 20px;
  height: inherit;
box-sizing: border-box;
border: 1px solid #bdc3c7;
border-radius: 20px;
}
.chat-text{
	position: absolute;
	bottom: 0px;
	width: inherit;
}
.chat-text textarea{
	width: inherit;
	height: inherit; 
	box-sizing: border-box;
	border: 1px solid #bdc3c7;
	resize: none;
}
.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
	border-color: #bdc3c7;
}



@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
  font-size:12px;
}

.chat-history ul li{
  list-style-type: none;
}
.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width: 280px;
  float: left;
  margin-left: 2%;
  flex: 1;
  background: #343a400a;

}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #c3c3c3;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  list-style-type: none;
}
.people-list ul li {
  margin-bottom: 20px;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

.chat {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  flex: 2;
}
.chat .chat-header {

  background: #343a400a;
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
  font-size:12px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 12px;
  font-size: 9px;
}
.chat .chat-history .message {
	color: white;
    padding: 4px 7px;
    line-height: 16px;
    font-size: 10px;
    border-radius: 7px;
    margin-bottom: 14px;
    width: 96%;
    position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
  word-break: break-word;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;

  background: #343a400a;
}
.chat .chat-message textarea {
  width: 100%;
  border: 1px solid #7986cb;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.global_btn
{
  border: none;
  margin-top: 0px;
  width: 90px;
  height: 30px;
  text-transform: uppercase;
  color: #7885cb;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 13px;
  border-left: 5px solid #7885cb;
  background-color: #343a40;
}
.typing-indicator {
  background-color: #7986cb;
  will-change: transform;
  margin-left: 8%;
  width: auto;
  border-radius: 50px;
  padding: 5px;
  position: relative;
  -webkit-animation: 2s bulge infinite ease-out;
          animation: 2s bulge infinite ease-out;
}
.typing-indicator::before, .typing-indicator::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #7885cb;
}
.typing-indicator::after {
  height: 5px;
  width: 5px;
  left: -6px;
  bottom: -6px;
}
.typing-indicator span {
  height: 5px;
  width: 5px;
  float: left;
  margin: 0 1px;
  background-color: #E6E7ED;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
