@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
  font-size:12px;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}
.list
{
  height: 100%;
}
.chat-history ul li{
  list-style-type: none;
}
.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width: 280px;
  background: #343a400a;
  border-right: 1px solid #ccc;
  padding-right: 0px;
}
.people-list .search {
  padding: 10px;
  padding-top: 25px;
  display: flex;
    justify-content: center;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  background: #efefef;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 5px;
  list-style-type: none;
}

.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

.chat {
  float: left;
  color: #434651;
  flex: 2;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border-right: 3px solid #7986cb;
  border-radius: 0px;
}
.bg_design
{
  background-color: #ddffaa;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' fill-opacity='0.3' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
}
.chat .chat-header {

  background: #343a400a;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  overflow-y: scroll;
  height: 300px;
  direction: rtl;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
  font-size:12px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
  font-size:12px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 11px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;

  background: #f7f7f8;
}

.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  
}
.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.message_font
{
  font-size: 20px;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 0px;
    height: 45px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
li.clearfix.clearfix_left:hover {
  box-shadow: 1px 5px 15px #AAA;
  border-left: 5px solid #7986cb;
}
.clearfix_selected {
  box-shadow: 1px 5px 15px #AAA;
  border-left: 5px solid #7986cb !important;
}
.clearfix_left{
  background-color: #ffffff2e;
  padding: 2px;
  border-left: 5px solid #ffffff2e;
    margin: 1%;
}
textarea {
  margin-top: 10px;
  width: 100%;

  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
.global_btn
{
  border: none;
  margin-top: 0px;
  width: 90px;
  height: 30px;
  text-transform: uppercase;
  color: #7885cb;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 13px;
  border-left: 5px solid #7885cb;
  background-color: #343a40;
}

.cs_line::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  overflow-x: hidden;
}

.cs_line::-webkit-scrollbar
{
	width: 5px;
  background-color: #F5F5F5;
  overflow-x: hidden;
  
}

.cs_line::-webkit-scrollbar-thumb
{
	background-color: #343a40;
  border: 1px solid #555555;
  overflow-x: hidden;
}
.speech-bubble_left {
	position: relative;
	background: #62d085;
  border-radius: .4em;
  min-height: 4rem;
  min-width: 15%;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center 
}
.bubble_text
{
  color: white;
  font-weight: 800;
  margin-top: 1%;
  text-align: center;
  margin: 2%;
    word-break: break-word;
}
.speech-bubble_left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.964em solid transparent;
	border-right-color: #62d085;
	border-left: 0;
	margin-top: -0.964em;
	margin-left: -0.964em;
}
.speech-bubble_right {
	position: relative;
	background: #00aabb;
  border-radius: .4em;
  min-height: 4rem;
  min-width: 15%;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center 
}

.speech-bubble_right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.964em solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	margin-top: -0.964em;
	margin-right: -0.964em;
}