<div style="background-color: #f8f7f4;">
<nav class="menu menu_list" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <ul style="    margin-top:10%;">
        <a routerLink="/feed" routerLinkActive="active" class="settings_profile">  <li tabindex="0"><span>  <img src="/assets/img/id-card.png" width="20" height="20" style="margin-right:12%"/> <span class="small_font" >Home </span></span></li></a>
        <a routerLink="/profile/profile_changepassword" routerLinkActive="active" class="settings_profile">    <li tabindex="0"  class="settings_profile"><span>  <img src="/assets/img/password.png" width="20" height="20" style="margin-right:12%"/> <span class="small_font"> Places </span></span></li></a>
        <a routerLink="/feed/message-service" routerLinkActive="active" class="settings_profile">    <li tabindex="0"  class="settings_profile"><span>  <img src="/assets/img/password.png" width="20" height="20" style="margin-right:12%"/> <span class="small_font">  Message </span></span></li></a>
        
      </ul>
  </nav>

<main class="container" style="height:550px;overflow: auto;float:right" id="style-1">

<app-feed-area></app-feed-area>
  
<router-outlet></router-outlet>

</main>
</div>