
<div class="col-md-12">
<div  *ngFor="let item of items; let i= index" class="outer_card">
    <div style="
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    background-color: #343a40;
">
<img _ngcontent-kni-c1="" class="rounded-circle" height="20" src="/assets/img/user.png" width="20">
<p style="
font-size: 12px;
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 0px;
">{{item.author.name}}</p></div>
      <div class="card-product" >
          <img class="img_size" src="/assets/img/map.png">
          <div class="card-product-infos">
            <h2>{{item.topic}}</h2>
            <p>{{item.post}}</p>
          </div>

      </div>
      <div class="row" style="margin-left:5%;    width: 365px;">
            <div *ngIf="item.liked; else elseBlock">
                <a  style="margin-top: 2%;    background-color: darksalmon;" title="Love it" class="btn btn_emoji btn-counter" (click)="like_post(item.id,item.likes,i)"  [attr.data-count]="item.likes" ><span>💓</span></a>

            </div>
            <ng-template #elseBlock>
              <div>                <a style="margin-top: 2%;" title="Love it" class="btn btn_emoji btn-counter" (click)="like_post(item.id,item.likes,i)" [attr.data-count]="item.likes" ><span>💓</span></a>
              </div>

            </ng-template>

            <div *ngIf="item.dislike; else dislikeblock">
                <a style="    margin: 2%;background-color: darksalmon;"  title="Yukkkkk" class="btn btn_emoji btn-counter" (click)="dislike_post(item.id,item.likes,i)" [attr.data-count]="item.dislikes"><span>💔</span></a>

            </div>
            <ng-template #dislikeblock>
              <div>
                  <a style="    margin: 2%;"  title="Yukkkkk" class="btn btn_emoji btn-counter" (click)="dislike_post(item.id,item.likes,i)" [attr.data-count]="item.dislikes"><span>💔</span></a>
                </div>

            </ng-template>

      </div>

      <div class="detailBox">
        <div class="actionBox">
            <ul class="commentList">
                <li>
                    <div class="commenterImage">
                      <img src="http://placekitten.com/50/50" />
                    </div>
                    <div class="commentText">
                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                    </div>
                </li>
                <li>
                    <div class="commenterImage">
                      <img src="http://placekitten.com/45/45" />
                    </div>
                    <div class="commentText">
                        <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                    </div>
                </li>
                <li>
                    <div class="commenterImage">
                      <img src="http://placekitten.com/40/40" />
                    </div>
                    <div class="commentText">
                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                    </div>
                </li>
            </ul>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <textarea class="form-control" placeholder="Your comments" ></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary global_btn">Add</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>



