  <!-- the showcase part including the pic and the content -->
  <section class="showcase">
    <div class="wrapper">
        <div class="brand">
            <h1>Travellerspedia</h1>
            <h2>Get what you need</h2>
        </div>
    </div> 
</section>
<!-- the free trial part -->
<section class="wrapper-2-col" >
    <div class="grid-2-col">
        <div style="background-image:url(assets/img/background_car.jpg)">
        </div>
        <div id="free-trial">
            <h1>Ideas and perspectives you won’t find anywhere else.</h1>
            <h3>Medium taps into the brains of the world’s most insightful writers, thinkers, and storytellers to bring you the smartest takes on topics that matter. So whatever your interest, you can always find fresh thinking and unique perspectives.</h3>
            <form action="https://www.freecodecamp.com/email-submit" class="center grid-wrapper" id="form">
                <input id="email" type="email" class='email' placeholder="Enter your email" name="email">
                <input class='input btn' id="submit" type="submit" value = "Start free trial!">
            </form>
        </div>
    </div>     
</section>

