<nav class="menu" tabindex="0">
    <header class="avatar" style="    margin-top: 20%;">
      <div class="hovereffect" style="margin-left: 28%;">
        <img class="img-responsive" width="100" height="100" src="/assets/img/user.png" />
        <div class="overlay">
           <a class="info" style="cursor: pointer;" data-toggle="modal" data-target="#myModal" >Edit</a>
        </div>
    </div>  
      <h5 style="margin-top: 10%;">{{disp_name}}</h5>
    </header>
    <ul>
        <a routerLink="/profile/user-profile" routerLinkActive="active" class="settings_profile">  <li tabindex="0"><span>  <img src="/assets/img/id-card.png" width="25" height="25" style="margin-right:5%"/>User Profile</span></li></a>
        <a routerLink="/profile/profile_changepassword" routerLinkActive="active" class="settings_profile">    <li tabindex="0"  class="settings_profile"><span>  <img src="/assets/img/password.png" width="25" height="25" style="margin-right:5%"/>Change Password</span></li></a>
      </ul>
  </nav>
<main style="margin-left:18%">
  <div id="myModal" class="modal fade " role="dialog">
    <div class="modal-dialog modal-lg	 ">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <input type="file" (change)="fileChangeEvent($event)" />
          <img width="100" height="100" class="rounded-circle" [src]="croppedImage" />
<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="100"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
<router-outlet></router-outlet>
</main>