<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar" style="    margin-top: 20%;">
      <img src="/assets/img/user.png" />
      <h5 style="margin-top: 10%;">{{disp_name}}</h5>
    </header>
    <ul>
        <a routerLink="/profile/user-profile" routerLinkActive="active" class="settings_profile">  <li tabindex="0"><span>  <img src="/assets/img/id-card.png" width="25" height="25" style="margin-right:5%"/>User Profile</span></li></a>
        <a routerLink="/profile/profile_changepassword" routerLinkActive="active" class="settings_profile">    <li tabindex="0"  class="settings_profile"><span>  <img src="/assets/img/password.png" width="25" height="25" style="margin-right:5%"/>Change Password</span></li></a>
      </ul>
  </nav>
<main style="margin-left:18%">
<router-outlet></router-outlet>
</main>