/* You can add global styles to this file, and also import other style files */
.global_btn
{
  border: none;
  margin-top: 0px;
  width: 90px;
  height: 30px;
  text-transform: uppercase;
  color: #7885cb;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 13px;
  border-left: 5px solid #7885cb;
  background-color: #343a40;
}
@import '~dropzone/dist/min/dropzone.min.css';
.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.custom_scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.custom_scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.custom_scroll:-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}