
  <div class="parent clearfix">
      <div class="login">
          <div class="container">
            <h1>Don't have an account <br/>yet?</h1>
           <h6>Create your account now.</h6>
            <div class="login-form">
              <form action="">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="E-mail Address">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
    
                <div class="remember-form">
                </div>
                   
                <div class="pull-right" style="margin-top:2%"><button type="submit">Create an account</button>
                </div>
              </form>
            </div>
        
          </div>
          </div>

    <div class="bg-illustration">
      <div class="burger-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div>
    

  </div>